<!DOCTYPE html>
<html>
<head>
    <title>Paagi</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="" type="image/x-icon" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href= "https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
</head>

<body class="main-body" style="background-color: white ; ">
    <nav class="navbar navbar-default my-head" >
        <div class="container">
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#my-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> -->
            <div class="collapse navbar-collapse" id="my-collapse">
                <p class="navbar-brand header-style"  style="color: rgb(82, 17, 107); ">
                    <strong class="head-logo">Paagi</strong>
                </p>
                <ul class="nav navbar-nav ">
                    <li class="myactive"><a href="/" style="color:rgb(82, 17, 107)  ;  "><span style="color: rgb(82, 17, 107)"><span class="fa fa-home"></span><strong> Home</strong></span></a></li>
                    <li class="mychoice"><a href="/AboutUs" style="color:rgb(82, 17, 107)  ; "><strong>About Us</strong> </a></li>
                    <li class="mychoice"><a href="/FoodMenu" style="color:rgb(82, 17, 107)  ; "><strong>Food Menu</strong> </a></li>
                    <li class="mychoice"><a href="/Moments" style="color:rgb(82, 17, 107)  ; "><strong>Moments</strong> </a></li>
                    <li class="mychoice last"><a href="/ContactUs" style="color:rgb(82, 17, 107)  ; "><strong>Contact Us</strong> </a></li>
                    <li class="mychoice icon"><a class="icon" href="/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li class="mychoice icon"><a class="icon" href="/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


<!-- **************************************************************************************************************************** -->