<footer class="my-footer" >
    <div class="container footer" >
        <div class="footer-middle text-center ">
            <div class="email-address">
                <a><p class="footer-mail"><span class="fa fa-envelope footer-icon"></span>   rajat24goel@gmail.com</p></a>
            </div>
            <p class="copyright">Developed by Easy Change<br></p>
        </div>
    </div>
</footer>