<%- include('./Partials/layout.ejs') %>
<div class="container story">
    <div class="container text-in-img">
        <img class="img-about" src="/images/about-main-pic.png" alt="Notebook" style="width:100%;" />
        <div class="content">
            <h1 class="head-in-img">Our Story</h1>
        </div>
    </div>
    <p class="since-about">Since 2000</p>
    <p class="main-head-name">Paagi Caterers</p>
    <p class="desc-first">Paagi's Caterers has been on the forefront in catering to corporate companies, small & large social gatherings, birthday parties or house warming ceremonies for many years now. We ensure that our customers always get the taste and the hygiene they need. Our objective here is to save you money and serve you high quality food and over the years we have developed a reputation for efficiency and excellence. Our years of experience in catering has given us many opportunities to learn and practice how to prepare, present, and put away food items displayed at a public or private event for groups as small as twenty and as large as several hundred.</p>

    <p class="desc-second">Today, Paagi's is associated with some of the largest events in the country.</p>
        
    <p class="desc-third">We offer a varied menu of snacks, appetizers, salads, main courses, and desserts from which you can select to individualize meals for your guests. You’re in charge. We handle food preparation, setup, and cleanup for you.</p>

    <p class="mid-head">Why Us</p>

    <div class="row mid-block">
            <div class="col-sm-4 r1-c1">Exquisite Food</div>
            <div class="col-sm-4 r1-c2">Expert Coordination</div>
            <div class="col-sm-4 r1-c3">Gracious Service</div>
    </div>
    <div class="row mid-block">
            <div class="col-sm-4 r2-c1">
                <img class="first-img" src="/images/exquisite-food.jpg" style="width: 100%" />
            </div>
            <div class="col-sm-4 r2-c2">
                <img src="/images/expert-coordination.jpg" style="width: 100%" />
            </div>
            <div class="col-sm-4 r2-c3">
                <img src="/images/Food-Service.jpg" style="width: 100%" />
            </div>
    </div>
    <div class="row mid-block">
            <div class="col-sm-4 r3-c1">
                <p class="ser-desc-first">We win your hearts through your stomach. We serve the best that would stay engraved into your hearts and of course in your taste buds. We have a team of professional chefs who shall look into your requirements and provide you with the best dishes.</p>
            </div>
            <div class="col-sm-4 r3-c2">
                <p class="ser-desc-second">We are never atta control! We offer a well-defined and a structured coordination that is imperative in teams composed of members with heterogeneous subject matter expertise, in order for them to achieve optimal functionality.</p>
            </div>
            <div class="col-sm-4 r3-c3">
                <p class="ser-desc-third">We’ve got all the thyme in the world for you! We believe in helping customers efficiently, in a friendly manner and to ensure that they are satisfied. Our customer service is the assistance and the advice to our diners. We want to make you feel welcomed and satisfied because we loaf you!</p>
            </div>
    </div>
</div>

<div class="divider-line">
        <img class="image-divider" src="/images/divider-line.png" alt="">
</div>

<div class="end-quote">
<h2 class="first-quote-end">Because we at Paagi Caterers know you don't want to regret saying</h2>
<h2 class="second-quote-end">‘Oh! I could have eaten a bit more...’</h2>
</div>
<%- include('./Partials/layoutfooter.ejs') %>