<%- include('./Partials/layout.ejs') %>

<div class="container food-menu">
    <h2 class="head-menu">Food Menu</h2>
    <p class="menu-desc1">Here is the list of all the mouth watering delicacies we offer.</p>
    <p class="menu-desc2">Browse our complete range of menu being segregated into various types, </p>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                    <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Bakery</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                    <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Welcome Drinks</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Live Counters</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                    <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Starters</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse5">Main Course</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse6">Breads</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse7">Salads</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title panel-heading">
                <a class="acc-menu" data-toggle="collapse" data-parent="#accordion" href="#collapse8">Deserts</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <ul class="list-group">
                    <li class="list-group-item">One</li>
                    <li class="list-group-item">Two</li>
                    <li class="list-group-item">Three</li>
                </ul>
            </div>
        </div>
    </div> 
</div>


<div class="divider-line">
    <img class="image-divider" src="/images/divider-line.png" alt="">
</div>

<div class="end-quote">
    <h2 class="first-quote-end">Because we at Paagi Caterers know you don't want to regret saying</h2>
    <h2 class="second-quote-end">‘Oh! I could have eaten a bit more...’</h2>
</div>

<%- include('./Partials/layoutfooter.ejs') %>